<div class="row">
  <div class="large-12 columns">
      <div class="large-4 small-12 columns">
        <img src="<%= @item.img_url %>">
      </div>

      <div class="large-8 columns">
        <div class="row">
            <h3><%= @item.name %> (<%= @item.release_date %>)</h3>
            <%= @item.description %> <br>
            R$<%= @item.price %>
        </div>
        <br>
        <div class="row">
          <%if signed_in?%>
            <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@item), removeUrl: remove_from_cart_path(@item)} do%>
              <span><%=@cart_action%></span> Cart
            <%end%>
          <%end%>
        </div>
      </div>
  </div>
</div>
